
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #020102de;
    color: #0e0d0d;
}

.linhah{
    border-radius: 50%;
    border-top: 3px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    transition: 1.5s ease-in-out;
}

.modo-eikko .linhah{
    border-radius: 50%;
    border-top: 3px solid rgb(18, 1, 29);
    margin: 0;
    padding: 0;
    transition: 3.5s ease-in-out;
}

#boton {
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding: 12px 40px;
    background: #4c1570;
    font-size: 20px;
    font-weight: 500;
    color: #fcfcfc;
    border: 3px  #FEC195;
    border-radius: 8px;
    box-shadow: 0 0 0 #ffffff8c;
    animation: aparecer 1.5s ease-in-out;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
  
  #boton:hover {
    background: #56e2de;
    color: #030303;
    transform: scale(1.08);
    box-shadow: 0 0 25px #ffffff8c;
    cursor:pointer
  }
  .fil0 {
    fill: #FFFDEF
  }

 .modo-escuro #boton{
    background-color: #352c35;
    color: #ffffff;
 }

 .modo-escuro #boton:hover{
    background-color: #56e2de;
    color: #030303;
 }

body.modo-escuro{

    background-color: #1a1818;
    color: #f5f5f5;
}

body.modo-eikko{
    background-color: #000000;
    
    color: #dfdada;
}

body.modo-eikko .cartao-eikko{
    color: #49183e;
    animation: bouncing 0.5s ease-in-out alternate infinite
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao, #botao-alterar-tema{
    width: 30px;
    transition: 0.5s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor: pointer;
    animation: bouncing 1s ease-in-out alternate infinite
}

header #botaoeikko{
    background: none;
    border: none;
    cursor: pointer;
    animation: bouncing 1s ease-in-out alternate infinite;
}

main .cartao-rpg:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main .cartao-eikko:hover{
    transform: scale(1.05);
    cursor: pointer;
}

header .logo:hover{
    transform: scale(2.0);
    cursor: pointer;
}

header #botao-alterar-tema:hover{
    transform: scale(2.0);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

main{
    padding: 25px;

}

main .listagem-rpg{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-rpg{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

main .cartao-eikko{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    
}

main .cartao-rpg:hover{
    background-color: #96d9d6;
    -webkit-box-shadow: 1px 1px 20px #20232e,
                    -1px -1px 20px #545b78;
   box-shadow: 2px 1px 20px #20232e,
             -1px -1px 20px #545b78;
   color: #1f1d1d;
  -webkit-transition: 500ms;
  transition: 500ms;
  
}

main .cartao-eikko:hover{
    background-color: #0a000e;
}

.modo-eikko .cartao-rpg:hover{
    background-color: #0a000e;
}
.modo-escuro .cartao-rpg{
    background-color: #352c35;
}

.modo-eikko .cartao-rpg{
    animation: bouncing 0.5s ease-in-out alternate infinite;
    background-color: #1b1a1b;
}

.modo-eikko .cartao-eikko{
    background-color: #0a020a;
}
main .cartao-rpg .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #0f0f0f;
    border-radius: 10px;
}

main .cartao-eikko .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-rpg span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
    
}

main .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .png:hover{
    animation: go-back 1s infinite alternate;
}
main .cartao-rpg .png{
    animation: go-back 1s infinite alternate;
    transform: scale(1.5); 
}

main .cartao-eikko .png{
    animation: go-back 1.5s infinite alternate;
    transform: scale(1.5);
}


main .cartao-rpg .tipos{
    display: flex;
    gap: 15px;
}

main .cartao-eikko .tipos{
    display: flex;
    gap: 15px;
}

main .cartao-rpg .tipo{
    padding: 8px;
    border-radius: 10px;
}

main .cartao-eikko .tipo{
    padding: 8px;
    border-radius: 10px;
}

.medo{
    background-color: #c926b3;
}

.modo-eikko .medo{
    color: #000000;
}

.sangue{
    background-color: #d81414fb;
}

.modo-eikko .sangue{
    color: #000000;
}

.desconhecido{
    background-color: #8f9ba7;
}

.modo-eikko .desconhecido{
    color: #000000;
}

.bravura{
    background-color: #d37116;
}

.modo-eikko .bravura{
    color: #000000;
}

.abismo{
    background-color: #290442;
    color: #000000;
    text-transform: uppercase;
}

.conhecimento{
    background-color: #e0dd14;
}

.modo-eikko .conhecimento{
    color: #000000;
}

.vida{
    background-color: #e7e7de;
}
.modo-escuro .vida{
    color: #000000;
}
.modo-eikko .vida{
    color: #000000;
}

.ordenamento{
    background-color: #35dd14;
}

.modo-eikko .ordenamento{
    color: #000000;
}

.mercurio{
    background-color: #8f9ba7;
}

.modo-eikko .mercurio{
    color: #000000;
}

.decadencia{
    background-color: rgb(57, 58, 57);
}

.modo-eikko .decadencia{
    color: #000000;
}
.energia{
    background-color: #0ec9c9;
}

.modo-eikko .energia{
    color: #000000;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

#eikko {
    display: none;
}
.abismotxt{
    position: relative;
    line-height: 1.0;
    letter-spacing: 5px;
    z-index: 1;
    animation: shift 1s ease-in-out infinite alternate;
    color: #6d165a;
    animation-fill-mode:forwards;
}

.abismotxt:before,
.abismotxt:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.abismotxt:before {
    animation: glitch 2.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #8b00ff;
    z-index: -1;
}

.abismotxt:after {
animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #00e571;
    z-index: -2;
}

@keyframes bouncing{
    to{
        transform:  translateY(5px);
    }
}

@keyframes aparecer {
    from {
      opacity: 0; /* Opacidade inicial do botão */
      transform: translateY(-50px); /* Desloca o botão 50 pixels para cima */
    }
    to {
      opacity: 1; /* Opacidade final do botão */
      transform: translateY(0); /* Retorna o botão à sua posição original */
    }
  }


@keyframes falha {
    from {
        margin-left: 100%;
        
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
      0% {
        color: rgb(13, 179, 41);
      }
      50% {
        color: rgb(20, 65, 214);
      }
      70%{
          color: #af037c;
      }
      100% {
        color:#6d165a;
      }
    }

@keyframes go-back {
    from {
     transform: scale(1.5);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
    }
  
    41% {
      color: rgb(63, 8, 107);
      transform: skewX(10deg);
    }
  
    42% {
      transform: skewX(-10deg);
    }
  
    59% {
      color: rgb(0, 0, 0);
      transform: skewX(40deg) skewY(10deg);
    }
  
    60% {
      transform: skewX(-40deg) skewY(-10deg);
    }
  
    63% {
      transform: skewX(10deg) skewY(-5deg);
    }
  
    70% {
      transform: skewX(-50deg) skewY(-20deg);
    }
  
    71% {
      transform: skewX(10deg) skewY(-10deg);
    }
  }


  